<%= form_with(model: client, local: true, class: "client-form") do |f| %>
  <% if client.errors.any? %>
    <div class="alert alert-danger">
      <h4>Ошибки при сохранении:</h4>
      <ul>
        <% client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, "Имя клиента", class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Введите имя" %>
  </div>

  <div class="mb-3">
    <%= f.label :phone, "Телефон", class: "form-label" %>
    <%= f.telephone_field :phone, class: "form-control", placeholder: "Введите телефон" %>
  </div>

  <div class="mt-4">
    <%= f.submit "Сохранить", class: "btn btn-success" %>
    <%= link_to "Отмена", clients_path, class: "btn btn-secondary" %>
  </div>
<% end %>