<h1 class="mb-4">🚗 Список машин</h1>

<div class="row">
  <% @cars.each do |car| %>
    <div class="col-md-6">
      <div class="card p-3 mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= car.brand %> <%= car.model %></h5>
          <p class="card-text">
            <strong>Гос. номер:</strong> <%= car.plate_number %> <br>
            <strong>Год:</strong> <%= car.year %>
          </p>
          <div class="d-flex justify-content-between">
            <%= link_to "Редактировать", edit_car_path(car), class: "btn btn-warning btn-sm" %>
            <%= link_to "Удалить", car, method: :delete, data: { confirm: "Вы уверены?" }, class: "btn btn-danger btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-4">
  <%= link_to "➕ Добавить машину", new_car_path, class: "btn btn-success" %>
</div>